<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <style>html,body,a,ul,li,form{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;text-decoration:none}body{line-height:1}ul{list-style:none}body{background-color:rgb(255,252,213)}main{margin:0 1em}.pokemon::first-letter{text-transform:uppercase}.pokemon{margin:.4em 0}a,li{font-family:sans-serif}@media screen and (min-width:50rem){main{margin:0 2em;margin-top:5em}}</style>
    <link rel="stylesheet" type="text/css" href="../styles/style.css">
    <link href="../manifest.json" rel="manifest">
    <title>Online Pokédex</title>
</head>
    <body>

        <header>
            <nav>
                <ul>
                    <li><a href="#start">Start</a></li>
                    <li><a href="#pokemon" class="pokemonlink">Pokémon</a></li>
                </ul>
            </nav>
        </header>