<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="../styles/style.css">
    <title>Online Pokédex</title>
</head>
    <body>

        <header>
            <nav>
                <ul>
                    <li><a href="#start">Start</a></li>
                    <li><a href="#pokemon" class="pokemonlink">Pokémon</a></li>
                </ul>
            </nav>
        </header>