extends layout.pug

block content
  h2 Posters
  form(action="/", method="post")
        label Search for poster names: 
          input(name="search", onkeyup="myFunction()" placeholder="Zoek posters")#myInput
  ul#myUL
    each key in data
      li
        a(href="/poster/" + key.title)
          h3= key.title
          date= key.date
