doctype html
html(lang="en")
  head
    title Poster van Paradiso
    link(rel='stylesheet', href='/index.css', type="text/css")
  body
    include includes/header.pug
    block content
  script(type="text/javascript" src="/filter.js")


    
    
