body {
    padding: 40px;
    text-align: center;
    overflow-x: hidden;
}

h1,
h2 {
    font-family: "Nunito", sans-serif;
    font-size: 30px;
}

#sportList {
    display: grid;
    grid-template-columns: calc(25% - 2em) calc(25% - 2em) calc(25% - 2em) calc(25% - 2em);
    grid-template-rows: 10rem;
    grid-row-gap: 2.33334rem;
    grid-column-gap: 2.75em;
    margin-top: 2em;
    height: 60vh;
    overflow-y: scroll;
    z-index: 2;
    position: relative;
}

#sportList div {
    padding: 3em 0;
    background-color: rgb(243, 243, 243);
    transition: box-shadow .3s ease;
    z-index: 1;
    transition: 
    transform .3s ease,
    background-color .3s ease;
}

#sportList div:hover,
#sportList div:focus,
#sportList div:focus-within {
    cursor: pointer;
    transform: scale(1.1);
    background-color: rgb(220, 220, 220);

}

#sportList div p::first-letter {
    text-transform: capitalize;
}

.gone {
    display: none !important;
}

.searchSport,
.searchName {
    padding: .5em;
    font-size: 16px;
    text-align: center;
    border-radius: .5em;
    border: solid rgb(204, 204, 204) .15em;
    transition: border .3s ease;
    font-family: 'Nunito', sans-serif;
}

.searchName::placeholder {
    color: rgb(204, 204, 204);
}

.searchName:focus {
    border: solid black .15em;
}

#sporters {
    position: fixed;
    top: 0;
    bottom: 0;
    right: -100vw;
    left: 100vw;
    transition: 
    right 1s ease,
    left 1s ease;
    background-color: white;
    padding-top: 2.5em;
}

body .sporterListShow {
    right: 0 !important;
    left: 0 !important;
    position: fixed !important;
    transition:
    right 1s ease,
    left 1s ease;
}

.sportlist {
    right: 0;
    left: 0;
    position: fixed;
    padding: 48px;
    transition: 
    left 1s ease,
    right 1s ease;
    overflow-y: scroll;
}

.transition {
    transition:
    right 1s ease,
    left 1s ease;
}

.sportListGone {
    left: -100vw;
    right: 100vw;
    position: fixed;
    transition:
    left 1s ease,
    right 1s ease;
}

.spinner {
    animation: loader .8s infinite steps(8);
    overflow: hidden;
    text-indent: 200%;
    background: url(../images/spinner.png);
    width: 5rem;
    height: 5rem;
    background-size: cover;
    margin: 0 auto;
    position: absolute;
    display: block;
    left: calc(50% - 2.5rem);
    top: 12rem;
}

@keyframes loader {
    to { background-position: -40em 0; }
}

.sporterList {
    height: 60vh;
    overflow-y: scroll;
    margin-top: 2em;
    display: grid;
    grid-template-columns: 33% 33% 33%;
}

*:focus {
    outline: 0;
}

.back {
    position: absolute;
    top: 1em;
    left: 1em;
    font-family: 'Nunito', sans-serif;
    text-transform: uppercase;
    text-decoration: underline; 
    cursor: pointer;
}

#sportList div a,
.sporterList p {
    font-weight: 700;
    font-family: "Nunito", sans-serif;
    color: black;
}

@media screen and (max-width: 50rem) {
    #sportList {
        grid-template-columns: calc(50% - 1em) calc(50% - 1em);
        grid-row-gap: 2em;
        grid-column-gap: 2em;
        height: 55vh;
    }
}

@media screen and (max-width: 35rem) {
    #sportList {
        grid-template-columns: 100%;
        height: 50vh;
    }
}